{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
{% include 'layouts/nav.html' %}

<link rel="stylesheet" href="{% static '/styles/editar_reparacio.css' %}">

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<body>
    {{ linies_reparacio }}
    <div class="row">
        
        <div class="col-lg-12 col-xs-12" style="margin-left:50px;margin-bottom:10px;"><h2><i class="fa-solid fa-wrench"></i> Reparació {{ reparacio.id }}</h2></div>
        
        <div class="col-lg-1 col-xs-1"></div>
        
    </div>

    <div class="container">
        <div class="row">
        {% csrf_token %}
          <!-- Columna con select y label -->
          
          <!-- Columna con inputs en estructura enmarcada -->
          <div class="col-lg-6 col-xs-12">
            <div class="rounded-border">
                <div class="row">
                    <h4>&nbsp;&nbsp;<i class="fa-solid fa-user"></i> Client</h4>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                    <input type="text" class="form-control mb-2" id="client" disabled value="{{ client.nom }} {{ client.cognoms}}">
                    </div>
                    <div class="col-md-6">
                    <input type="text" class="form-control mb-2" id="nif" disabled value="{{ client.nif }}">
                    </div>
                </div>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" class="form-control mb-2" id="telf" disabled value="{{ client.telefon }}">
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control mb-2" id="email" disabled value="{{ client.email }}">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control mb-2" id="direccio" disabled value="{{ client.direccio }} - {{ client.ciutat }} ( {{ client.codi_postal }} )">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-xs-12">
            <div class="rounded-border">
                <div class="row">
                    <h4>&nbsp;&nbsp;<i class="fa-solid fa-car"></i> Vehicle</h4>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control mb-2" id="marca_model" disabled value="{{ vehicle.nom }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                    <input type="text" class="form-control mb-2" id="matricula" disabled value="{{ vehicle.matricula }}">
                    </div>
                    <div class="col-md-6">
                    <input type="text" class="form-control mb-2" id="kms" disabled value="{{ vehicle.kms }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control mb-2" style="visibility:hidden">
                    </div>
                </div>
              
            </div>
          </div>
        </div>


        <div class="row" id="div_dtl_select">
            <h5>Escull el tipus de feina a realitzar: </h5>
            <select class="js-example-basic-single" id="definicio_tipus_linia" style="width: 220px;">
                <option value="-1">Selecciona...</option>
                {% for dtl in definicio_tipus_linia %}
                    <option value="{{ dtl.id }}">{{ dtl.nom }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Diferents tipus de linia -->
        <div class="col-lg-12 col-xs-12">&nbsp;</div>

        <div class="titled-border" id="d_ac">
            <div class="title-container">
              <div class="title">Altres conceptes</div>
            </div>
            <div class="container" style="margin-top:10px;">
                <div class="row">
                    <div class="col-lg-1 col-xs-1">
                        <label><span class="text-danger">*</span>Descripció:</label>
                    </div>
                    <div class="col-lg-4 col-xs-4" style="margin-left:10px;">
                        <input type="text" class="form-control mb-2" id="desc_ac" />
                    </div>
                    <div class="col-lg-1 col-xs-1">
                        <label>Quantitat:</label>
                    </div>
                    <div class="col-lg-1 col-xs-1">
                        <input type="text" class="form-control mb-2" id="qt_ac" value="1" />
                        <div id="ac_qt_error" class="error"></div>
                    </div>
                    
                    <div class="col-lg-1 col-xs-1">
                        <label>Preu:</label>
                    </div>
                    <div class="col-lg-2 col-xs-2">
                        <input type="text" class="form-control mb-2" id="preu_ac" />
                        <div id="ac_preu_error" class="error"></div>
                    </div> 
                    <div class="col-lg-1 col-xs-1">
                        <button class="b_elimina_filtre" title="Crear reparació" id="add_ac" style="margin-left: 50px; margin-right: 50px;margin-bottom:20px;" disabled>
                            <i class="fa-solid fa-plus fa-xl"></i>
                        </button>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="titled-border" id="d_p">
            <div class="title-container">
              <div class="title">Packs</div>
            </div>
            <div class="container" style="margin-top:10px;">
                <div class="row">
                    <div class="col-lg-1 col-xs-1">
                        <label><span class="text-danger">*</span>Pack:</label>
                    </div>
                    <div class="col-lg-5 col-xs-5">
                        <select class="js-example-basic-single" id="packs" style="width: 320px;">
                            <option value="-1">Selecciona...</option>
                        {% for p in packs %}
                            <option value="{{ p.id }}">{{ p.nom }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-1 col-xs-1">
                        <label>Preu:</label>
                    </div>
                    <div class="col-lg-2-col-xs-2">
                        <input type="text" class="form-control mb-2" id="preu_p" disabled/>
                    </div>
                    <div class="col-lg-1 col-xs-1">&nbsp;</div>
                    <div class="col-lg-1 col-xs-1">
                        <button class="b_elimina_filtre" title="Crear reparació" id="add_p" style="margin-left: 50px; margin-right: 50px;margin-bottom:20px;" disabled>
                            <i class="fa-solid fa-plus fa-xl"></i>
                        </button>
                    </div>
                    
                </div>
            </div>
        </div>
        

        <div class="titled-border" id="d_pr">
            <div class="title-container">
              <div class="title">Peces recanvi</div>
            </div>
            <div class="container" style="margin-top:10px;">
                <div class="row">
                    <div class="col-lg-1 col-xs-1">
                        <label><span class="text-danger">*</span>Peça:</label>
                    </div>
                    <div class="col-lg-4 col-xs-4">
                        <input type="text" class="form-control mb-2" id="pesa_pr" />
                    </div>
                    <div class="col-lg-2 col-xs-2">
                        <label><span class="text-danger">*</span>Codi fabricant:</label>
                    </div>
                    <div class="col-lg-2 col-xs-2">
                        <input type="text" class="form-control mb-2" id="codfab_pr" />
                    </div>
                    <div class="col-lg-1 col-xs-1">
                        <label>Quantitat:</label>
                    </div>
                    <div class="col-lg-1 col-xs-1">
                        <input type="text" class="form-control mb-2" id="qt_pr" value="1"/>
                        <div id="pr_qt_error" class="error"></div>
                    </div>
                    <div class="col-lg-1 col-xs-1">&nbsp;</div>
                    <div class="col-lg-1 col-xs-1">
                        <label>Preu:</label>
                    </div>
                    <div class="col-lg-2 col-xs-2">
                        <input type="text" class="form-control mb-2" id="preu_pr" />
                        <div id="pr_preu_error" class="error"></div>
                    </div>
                    <div class="col-lg-7 col-xs-7"></div>
                    <div class="col-lg-1 col-xs-1">
                        <button class="b_elimina_filtre" title="Crear reparació" id="add_pr" style="margin-left: 50px; margin-right: 50px;margin-bottom:20px;" disabled>
                            <i class="fa-solid fa-plus fa-xl"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="titled-border" id="d_fm">
            <div class="title-container">
              <div class="title">Feines mecànic</div>
            </div>
            <div class="container" style="margin-top:10px;">
                <div class="row">
                    <div class="col-lg-1 col-xs-1">
                        <label><span class="text-danger">*</span>Descripció:</label>
                    </div>
                    <div class="col-lg-4 col-xs-4" style="margin-left:10px;">
                        <input type="text" class="form-control mb-2" id="desc_fm" />
                    </div>
                    <div class="col-lg-1 col-xs-1">
                        <label>Quantitat:</label>
                    </div>
                    <div class="col-lg-1 col-xs-1">
                        <input type="text" class="form-control mb-2" id="qt_fm" value="1"/>
                        <div id="fm_qt_error" class="error"></div>
                    </div>
                    
                    <div class="col-lg-1 col-xs-1">
                        <label>Preu:</label>
                    </div>
                    <div class="col-lg-2 col-xs-2">
                        <input type="text" class="form-control mb-2" id="preu_fm" />
                        <div id="fm_preu_error" class="error"></div>
                    </div> 
                    <div class="col-lg-1 col-xs-1">
                        <button class="b_elimina_filtre" title="Crear reparació" id="add_fm" style="margin-left: 50px; margin-right: 50px;margin-bottom:20px;" disabled>
                            <i class="fa-solid fa-plus fa-xl"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div style="margin-bottom:20px;" class="container" id="d_t_feines_reparacio">
        <h4><i class="fa-solid fa-wrench"></i> Feines de la reparació</h4>
    </div>

    <div class="container">
        <div style="padding-left:20px;padding-right:20px;padding-top:30px;margin-bottom:10px;" class="mi-elemento" id="feines_reparacio">
        <!-- Generació dinàmica (en cas que hi hagin registres)
        
        % if conjunto %
            % for elemento in conjunto %
                elemento 
            % endfor %
        % endif %

        -->

        </div>
    </div>
    


</body>

<script>
    //Variables a passar al javascript que venen del servidor
    var config = {
        reparacio_id: "{{ reparacio.id }}",
        packs_json: "{{ packs_json|escapejs }}",
    };
</script>

<script src="{% static '/javascript/editar_reparacio.js' %}"></script>


{% endblock %}