{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
{% include 'layouts/nav.html' %}
<style>
    .titled-border {
        border: 1px solid #ced4da;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        position: relative;
    }
  
    .title-container {
        position: absolute;
        top: -15px; /* Ajusta este valor según sea necesario */
        background-color: white; /* Esto cubre la línea del borde detrás del título */
        padding: 0 5px; /* Añade un pequeño relleno para el título */
    }

    .title {
        font-weight: bold;
    }

    .b_elimina_filtre{
        width: 45px;
        height: 45px;
        color: rgba(236, 169, 23, 0.918); 
        background-color: #3f3e3d;border:0px;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        transition: background-color 0.3s;
        
    }

    .b_elimina_filtre:hover{
        background-color: rgba(236, 169, 23, 0.918); 
        color: #3f3e3d;border:0px;
    }

    .b_elimina_filtre:disabled {
        background-color: rgba(238, 204, 129, 0.918); 
        color: #3f3e3d;border:0px; /* Color de texto más claro cuando está deshabilitado */
        cursor: not-allowed; /* Cambia el cursor cuando está deshabilitado */
    }

    .error{
        color: red;
        font-size: 12px;
    }

    .rounded-border {
        border: 1px solid #ced4da;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }
    

   
</style>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<body>

    <div class="row">
        
        <div class="col-lg-12 col-xs-12" style="margin-left:50px;margin-bottom:10px;"><h2><i class="fa-solid fa-plus"></i> Reparació </h2></div>
        
        <div class="col-lg-1 col-xs-1"></div>
        
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xs-6" >
                <div class="row">
                    <div class="form-group">
                      <label><i class="fa-solid fa-user"></i> Client: </label>
                      <select class="js-example-basic-single" id="clients" style="width: 320px;">
                        <option value="-1">Selecciona...</option>
                        {% for c in clients %}
                            <option value="{{ c.id }}">{{ c.nom }} {{ c.cognoms }}</option>
                        {% endfor %}
                    </select>
                    </div>
                  </div>
            </div>
            <div class="col-lg-6 col-xs-6">
                <div class="row">
                    <div class="form-group">
                        <label><i class="fa-solid fa-car"></i> Vehicle: </label>
                        <select class="js-example-basic-single" id="vehicle" style="width: 320px;">
                            <option value="-1">Selecciona...</option>
                            {% for v in vehicles %}
                                <option value="{{ v.id }}">{{ v.matricula }} {{ v.nom }}</option>
                            {% endfor %}
                        </select>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
        {% csrf_token %}
          <!-- Columna con select y label -->
          
          <!-- Columna con inputs en estructura enmarcada -->
          <div class="col-lg-6 col-xs-12">
            <div class="rounded-border">
                <div class="row">
                    <h4>&nbsp;&nbsp;<i class="fa-solid fa-user"></i> Client</h4>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                    <input type="text" class="form-control mb-2" id="client" disabled>
                    </div>
                    <div class="col-md-6">
                    <input type="text" class="form-control mb-2" id="nif" disabled>
                    </div>
                </div>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" class="form-control mb-2" id="telf" disabled>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control mb-2" id="email" disabled>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control mb-2" id="direccio" disabled>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-xs-12">
            <div class="rounded-border">
                <div class="row">
                    <h4>&nbsp;&nbsp;<i class="fa-solid fa-car"></i> Vehicle</h4>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control mb-2" id="marca_model" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                    <input type="text" class="form-control mb-2" id="matricula" disabled>
                    </div>
                    <div class="col-md-6">
                    <input type="text" class="form-control mb-2" id="kms" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control mb-2" style="visibility:hidden">
                    </div>
                </div>
              
            </div>
          </div>
        </div>

        <div class="row" id="guarda_reparacio_cap">
            <button class="b_elimina_filtre" title="Guardar" id="b_guarda_reparacio_cap" disabled style="margin-left: 50px; margin-right: 50px;margin-bottom:20px;">
                <i class="fa-solid fa-floppy-disk fa-xl"></i>
            </button>
        </div>

    </div>

</body>

<script>
    let id_reparacio;
    $(document).ready(function() {
        $('.js-example-basic-single').select2();

        document.getElementById('b_guarda_reparacio_cap').addEventListener('click',f_guardarReparacionsCapçalera)
    });

   
    var e_vehicle = $('#vehicle');
    // Agregar un event listener para el evento change de Select2
    e_vehicle.on('select2:select select2:unselect', function (e) {
        // Obtener los elementos seleccionados
        //var selectedOptions = select.val();
        f_emplenarDadesClient(e_vehicle.val());
       
        f_getVehicle(e_vehicle.val());
        
    });

    var e_client = $('#clients');
    e_client.on('select2:select select2:unselect', function (e) {
        // Obtener los elementos seleccionados
        //var selectedOptions = select.val();
        f_emplenarDadesVehicle(e_client.val());
        f_emplenarDadesClient(e_client.val());
        
        
    });


    function f_guardarReparacionsCapçalera(){
        /*
            Funció que guarda la capçalera de la reparació. Retorna el id de la capçalera que acabem de guardar
            Deshabilita els <select> ya que ja hem guardat la reparació
        */
        console.info('VEHICLE A GUARDAR: '+ e_vehicle.val());
        var csrfToken = $('[name="csrfmiddlewaretoken"]').val();
            $.ajax({
                type: 'POST',
                url: '/add_reparacio/',
                data: {
                    'id_vehicle': e_vehicle.val(),
                    'csrfmiddlewaretoken': csrfToken,
                },
                success: function(data) {
                    if (data.success) {
                        
                        id_reparacio = data.id_reparacio;
                        /*
                        Swal.fire({
                            icon: "success",
                            title: "Guardar reparació",
                            text: "La reparació s'ha guardat correctament, ja pots afegir les feines a realitzar",
                        });
                        */
                        Swal.fire({ 
                            title: "Guardar reparació",
                            text: "La reparació s'ha guardat correctament, ja pots afegir les feines a realitzar",
                            icon: "success"}).then(okay => {
                            if (okay) {           
                                
                                // Redireccionar a la página de detalles de la reparación
                                window.location.href = data.url_reparacio;         
                            }
                        });

                        //No deixar que canvii les dades
                        $('#clients').prop('disabled', true);
                        $('#vehicle').prop('disabled', true);


                         

                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Guardar reparació",
                            text: "S'ha produït un error guardant la reparació",
                        });
                    }
                },
                error: function() {
                    Swal.fire({
                        icon: "error",
                        title: "Guardar reparació",
                        text: "S'ha produït un error guardant la reparació",
                    });
                }
            });

    }

    
    function f_getVehicle(id_vehicle){
        if(id_vehicle=="-1"){
            
        }else{
            var csrfToken = $('[name="csrfmiddlewaretoken"]').val();
            $.ajax({
                type: 'POST',
                url: '/get_vehicle/',
                data: {
                    'id_vehicle': id_vehicle,
                    'csrfmiddlewaretoken': csrfToken,
                },
                success: function(data) {
                    if (data.success) {
                        
                        document.getElementById('marca_model').value = data.vehicle.nom;
                        document.getElementById('matricula').value = data.vehicle.matricula;
                        document.getElementById('kms').value = data.vehicle.kms;

                        $('#clients').val(data.vehicle.id_client).trigger('change');

                        document.getElementById('b_guarda_reparacio_cap').disabled = false;
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Obtenir vehicle",
                            text: "S'ha produït un obtenint les dades del vehicle",
                        });
                    }
                },
                error: function() {
                    Swal.fire({
                        icon: "error",
                        title: "Obtenir vehicle",
                        text: "S'ha produït un obtenint les dades del vehicle",
                    });
                }
            });
        }
    }

    function f_emplenarDadesVehicle(id_client){
        
        if(id_client=="-1"){
            
        }else{
            console.info('else')
            var csrfToken = $('[name="csrfmiddlewaretoken"]').val();
            $.ajax({
                type: 'POST',
                url: '/get_dades_vehicle/',
                data: {
                    'id_client': id_client,
                    'csrfmiddlewaretoken': csrfToken,
                },
                success: function(data) {
                    if (data.success) {
                        //Retorn de JSON amb dades filtrades
                        console.info(data);
                        let s_vehicles = document.getElementById('vehicle');
                        s_vehicles.innerHTML = "";

                        for(let i=0; i<data.vehicles.length; i++){
                            var opt = document.createElement("option");
                            
                            opt.text = data.vehicles[i].matricula+" "+data.vehicles[i].nom;
                            opt.value = data.vehicles[i].id; // Asignar un valor, si es necesario
                            s_vehicles.add(opt);
                        }
                        document.getElementById('marca_model').value = data.vehicles[0].nom;
                        document.getElementById('matricula').value = data.vehicles[0].matricula;
                        document.getElementById('kms').value = data.vehicles[0].kms;

                        document.getElementById('b_guarda_reparacio_cap').disabled = false;   
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Obtenir vehicles del client",
                            text: "S'ha produït un obtenint els vehicles del client",
                        });
                    }
                },
                error: function() {
                    Swal.fire({
                        icon: "error",
                        title: "Obtenir vehicles del client",
                        text: "S'ha produït un obtenint els vehicles del client",
                    });
                }
            });
        }
    }

    function f_emplenarDadesClient(id_vehicle){

        if(id_vehicle=="-1"){
            //Esborrar tots els camps
            document.getElementById('client').value = "";
            document.getElementById('nif').value = "";
            document.getElementById('telf').value = "";
            document.getElementById('email').value = "";
            document.getElementById('direccio').value = "";

            document.getElementById('marca_model').value = "";
            document.getElementById('kms').value = "";
            document.getElementById('matricula').value = "";

            //Mostra el combo dels vehicles ple
            var csrfToken = $('[name="csrfmiddlewaretoken"]').val();
            $.ajax({
                type: 'POST',
                url: '/get_vehicles/',
                data: {
                    'csrfmiddlewaretoken': csrfToken,
                },
                success: function(data) {
                    if (data.success) {
                        //Retorn de JSON amb dades filtrades
                        
                        let s_vehicles = document.getElementById('vehicle');
                        s_vehicles.innerHTML = "";

                        let json_obj = JSON.parse(data.vehicles);
                        var opt = document.createElement("option");
                        opt.text = "Selecciona...";
                        opt.value = "-1";
                        s_vehicles.add(opt);
                        for(let i=0; i<json_obj.length; i++){
                            var opt = document.createElement("option");

                            opt.text = json_obj[i].matricula+" "+json_obj[i].nom;
                            opt.value = json_obj[i].id;
                            s_vehicles.add(opt);
                        }
                        document.getElementById('b_guarda_reparacio_cap').disabled = true;
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Obtenir vehicles",
                            text: "S'ha produït un error obtenint les dades dels vehicles",
                        });
                    }
                },
                error: function() {
                    Swal.fire({
                        icon: "error",
                        title: "Obtenir vehicles",
                        text: "S'ha produït un error obtenint les dades dels vehicles",
                    });
                }
            });
            
        }else{
            var csrfToken = $('[name="csrfmiddlewaretoken"]').val();
            $.ajax({
                type: 'POST',
                url: '/get_client/',
                data: {
                    'id_vehicle': id_vehicle,
                    'csrfmiddlewaretoken': csrfToken,
                },
                success: function(data) {
                    if (data.success) {
                        //Retorn de JSON amb dades filtrades
                        console.info(data)
                        document.getElementById('client').value = data.client.nom + " " + data.client.cognoms;
                        document.getElementById('nif').value = data.client.nif;
                        document.getElementById('telf').value = data.client.telefon;
                        document.getElementById('email').value = data.client.email;
                        document.getElementById('direccio').value = data.client.direccio + " - " + data.client.ciutat + " ("+data.client.codi_postal+")"; 
                        //document.getElementById('div_dtl_select').style.display = "flex";
                        
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Obtenir client",
                            text: "S'ha produït un error obtenint les dades del client",
                        });
                    }
                },
                error: function() {
                    Swal.fire({
                        icon: "error",
                        title: "Obtenir client",
                        text: "S'ha produït un error obtenint les dades del client",
                    });
                }
            });
        }
    }
</script>

{% endblock %}