{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
{% include 'layouts/nav.html' %}

<link rel="stylesheet" href="{% static '/styles/nova_reparacio.css' %}">

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<body>

    <!-- Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="row">
                <div class="col-lg-11 col-xs-11">
                    
                    <h3><i class="fa-solid fa-plus"></i>&nbsp;<i class="fa-solid fa-car"></i> Afegir vehicle</h3>
                </div>
                <div class="col-lg-1 col-xs-1">
                    <span style="text-align:right" class="close">&times;</span>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <hr/>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <div class="form-group">
                        <label><span class="text-danger">*</span> Marca / Model: </label>
                        <select class="js-example-basic-single" id="f_marca_model" style="width: 100%;">
                            <option value="-1">Selecciona...</option>
                            {% for mm in marca_models %}
                                <option value="{{ mm.id }}">{{ mm.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-6">
                    <label><span class="text-danger">*</span> Matrícula: </label>
                    <input type="text" class="form-control mb-2" id="f_matricula">
                </div>
                <div class="col-lg-6 col-xs-6">
                    <label><span class="text-danger">*</span> Kms: </label>
                    <input type="text" class="form-control mb-2" id="f_kms">
                </div>
                <div class="col-lg-12 col-xs-12">
                    <div class="form-group">
                        <label><span class="text-danger">*</span> Client: </label>
                        <select class="js-example-basic-single" id="f_client" style="width: 100%;">
                            <option value="-1">Selecciona...</option>
                            {% for c in clients %}
                                <option value="{{ c.id }}">{{ c.nom }} {{ c.cognoms }}</option>
                            {% endfor %}    
                      </select>
                    </div>
                </div>
                <div class="col-lg-11 col-xs-11">&nbsp;</div>
                <div class="col-lg-1 col-xs-1" id="f_guarda_vehicle">
                    <button class="b_elimina_filtre" title="Guardar vehicle" id="b_guarda_vehicle" disabled>
                        <i class="fa-solid fa-floppy-disk fa-xl"></i>
                    </button>
                </div>
            </div>
            
            
        </div>
    </div>


    <div class="row">
        
        <div class="col-lg-12 col-xs-12" style="margin-left:50px;margin-bottom:10px;"><h2><i class="fa-solid fa-plus"></i> Reparació </h2></div>
        
        <div class="col-lg-1 col-xs-1"></div>
        
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xs-6" >
                <div class="row">
                    <div class="form-group">
                      <label><i class="fa-solid fa-user"></i> Client: </label>
                      <select class="js-example-basic-single" id="clients" style="width: 320px;">
                        <option value="-1">Selecciona...</option>
                        {% for c in clients %}
                            <option value="{{ c.id }}">{{ c.nom }} {{ c.cognoms }}</option>
                        {% endfor %}
                    </select>
                    <button class="b_elimina_filtre" style="visibility:hidden;">
                        <i class="fa-solid fa-plus"></i>&nbsp;<i class="fa-solid fa-car"></i>
                    </button>
                    </div>
                  </div>
            </div>
            <div class="col-lg-6 col-xs-6">
                <div class="row">
                    <div class="form-group">
                        <label><i class="fa-solid fa-car"></i> Vehicle: </label>
                        <select class="js-example-basic-single" id="vehicle" style="width: 320px;">
                            <option value="-1">Selecciona...</option>
                            {% for v in vehicles %}
                                <option value="{{ v.id }}">{{ v.matricula }} {{ v.nom }}</option>
                            {% endfor %}
                        </select>
                        <button class="b_elimina_filtre" title="Afegir vehicle" id="b_add_vehicle">
                            <i class="fa-solid fa-plus"></i>&nbsp;<i class="fa-solid fa-car"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
        {% csrf_token %}
          <!-- Columna con select y label -->
          
          <!-- Columna con inputs en estructura enmarcada -->
          <div class="col-lg-6 col-xs-12">
            <div class="rounded-border">
                <div class="row">
                    <h4>&nbsp;&nbsp;<i class="fa-solid fa-user"></i> Client</h4>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                    <input type="text" class="form-control mb-2" id="client" disabled>
                    </div>
                    <div class="col-md-6">
                    <input type="text" class="form-control mb-2" id="nif" disabled>
                    </div>
                </div>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" class="form-control mb-2" id="telf" disabled>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control mb-2" id="email" disabled>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control mb-2" id="direccio" disabled>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-xs-12">
            <div class="rounded-border">
                <div class="row">
                    <h4>&nbsp;&nbsp;<i class="fa-solid fa-car"></i> Vehicle</h4>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control mb-2" id="marca_model" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                    <input type="text" class="form-control mb-2" id="matricula" disabled>
                    </div>
                    <div class="col-md-6">
                    <input type="text" class="form-control mb-2" id="kms" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control mb-2" style="visibility:hidden">
                    </div>
                </div>
              
            </div>
          </div>
        </div>

        <div class="row" id="guarda_reparacio_cap">
            <button class="b_elimina_filtre" title="Guardar" id="b_guarda_reparacio_cap" disabled style="margin-left: 50px; margin-right: 50px;margin-bottom:20px;">
                <i class="fa-solid fa-floppy-disk fa-xl"></i>
            </button>
        </div>

    </div>

</body>
<script src="{% static '/javascript/nova_reparacio.js' %}"></script>


{% endblock %}