{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
{% include 'layouts/nav.html' %}

<link rel="stylesheet" href="{% static '/styles/reparacions.css' %}">


<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<body>

    <div style="margin-left:50px;">
        <div class="col-lg-1 col-xs-1">&nbsp;</div>
        <div class="col-lg-5 col-xs-5"><h2> Reparacions <i class="fa-solid fa-wrench"></i></h2></div>
        <div class="col-lg-6 col-xs-6">&nbsp;</div>
    </div>

    <div class="row">
        

        <div class="col-lg-12 col-xs-12">&nbsp;</div>

        <div class="col-lg-1 col-xs-1">&nbsp;</div>
        {% csrf_token %}
        <div class="col-lg-3 col-xs-12">
            <label>Data alta: </label>
            <input type="date" id="f_data_alta" />
        </div>

        
        <div class="col-lg-3 col-xs-12">
            <label>Estat: </label>
            <select class="js-example-basic-multiple" name="f_estat[]" id="f_estat" multiple="multiple" style="width: 220px;">
                <!--<option value="-1"></option>--> 
                {% for er in estats_reparacio %}
                    <option value="{{ er.id }}">{{ er.nom }}</option>
                {% endfor %}
            </select>
        </div>
        

        <div class="col-lg-3 col-xs-12">
            <label>Marca / Model: </label>
            <input type="text" id="f_marca_model" />
        </div>
        <div class="col-lg-2 col-xs-2">
            
            <button class="b_elimina_filtre" title="Elimina filtres actuals" id="b_elimina_filtres">
                <i class="fa-solid fa-broom-ball fa-xl"></i>
            </button>
            
        </div>
        
        <div class="col-lg-1 col-xs-1">&nbsp;</div>
        <div class="col-lg-3 col-xs-12">
            <label>Matrícula: </label>
            <input type="text" id="f_matricula"/>
        </div>
        
        <div class="col-lg-3 col-xs-12">
            <label>Client: </label>
            <input type="text" id="f_client"/>
        </div>
        <div class="col-lg-3 col-xs-12">
            <label>Població: </label>
            <input type="text" id="f_poblacio"/>
        </div>
        <div class="col-lg-2 col-xs-2">&nbsp;</div>

        <div class="col-lg-1 col-xs-1">&nbsp;</div>
        <div class="col-lg-3 col-xs-3" style="display:none;">
            <label>Pagada? </label>
            <input type="checkbox" id="f_pagada"/>
        </div>
    </div>

    <div class="col-lg-12 col-xs-12">
        
        <div class="pagination" id="pagination"></div><br/>
        {% if dades_usuari.id_tipus_usuari == 1 %}
        <a href="{% url 'nova_reparacio' %}">
            <button class="b_elimina_filtre" title="Crear reparació" id="b_elimina_filtres" style="margin-left: 50px; margin-right: 50px;margin-bottom:20px;">
                <i class="fa-solid fa-plus fa-xl"></i>
            </button>
        </a>
        {% endif %}
        
        <table id="myTable" style="margin-left: 50px; margin-right: 50px;">
            <thead>
                <tr>
                    <th class="text-center">Data alta</th>
                    <th class="text-center">Estat</th>
                    <th class="text-center">Vehicle</th>
                    <th class="text-center">Client</th>
                    <th class="text-center">Ultima modificació</th>
                    <th style="width:20%">Accions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>

    <div class="col-lg-12 col-xs-12">&nbsp;</div>

    </div>
</body>



<script>
    //Variables a passar al javascript que venen del servidor
    var config = {
        reparacions: "{{ reparacions|safe }}",
    };
</script>

<script src="{% static '/javascript/reparacions.js' %}"></script>

{% endblock %}