table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  /* Agregar borde derecho */
  border-left: 1px solid #ddd;
}
tr {
  border-bottom: 1px solid #ddd;
  /* Agregar borde inferior */
}
/*
tr:hover {
    background-color: #f2f2f2;
}
*/
/* Estilos del paginador */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pagination button {
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.pagination button:hover {
  background-color: rgba(236, 169, 23, 0.918);
}
.pagination button.active {
  background-color: #3f3e3d;
  color: white;
}
.pagination button.active:hover {
  background-color: rgba(236, 169, 23, 0.918);
  color: white;
}
thead {
  background-color: #3f3e3d;
  color: rgba(236, 169, 23, 0.918);
}
.b_elimina_filtre {
  width: 45px;
  height: 45px;
  color: rgba(236, 169, 23, 0.918);
  background-color: #3f3e3d;
  border: 0px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.b_elimina_filtre:hover {
  background-color: rgba(236, 169, 23, 0.918);
  color: #3f3e3d;
  border: 0px;
}
